/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'yekan';
  src: url('./font/iranyekanwebbold.ttf') format('truetype');
  font-display: swap;
}

body{
  font-family: 'yekan';
}

/* header img */
.header-img{
  background-image: url(./img/intro_desktop.jpg);
  min-height: 61vh;
}

/* super img */
.super-img{
  background-image: url(./img/super-app.jpg);
}
