/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'yekan';
  src: url('./font/iranyekanwebbold.ttf') format('truetype');
  font-display: swap; /* این خط باعث می‌شود که تا زمان بارگذاری کامل فونت اصلی، از فونت پشتیبان استفاده شود */
}

body{
  font-family: 'yekan';
}

/* header img */
.header-img{
  background-image: url(./img/intro_desktop.jpg);
  min-height: 61vh;
}